
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
NEXT_PUBLIC_CURRENCY_CODE=USD
NEXT_PUBLIC_CURRENCY_LOCALE=en-US
NEXT_PUBLIC_PAYHERE_URL=https://sandbox.payhere.lk/pay/checkout